{%extends "base.html"%}
{% block content %}

<div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
      </div>
      <div class="col-8">
        <div class="card" style="width:33 rem;">
          {% if user.id == post.author_id %}
          
            <div class="row" style="margin-left: 600px;">
              <a href="{% url 'blog:update_blog' post.id %}">Edit</a>
              &nbsp;&nbsp;
              <a href="{% url 'blog:delete_post' post.id %}">Delete</a>
            </div>
          
          {% else %}
          {% endif %}
          <div class="media">
            <img style="width: 45.5rem; object-fit: fill;" src="/media/{{post.title_image}}"> 
          </div>  
            <div class="card-body">
                <div class="row">
                <h2 class="card-title"><h2 class="account-heading">
                  {% block title %} {{ post.title }} {% endblock title %}
                  
                </h2></h2>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <form action="{% url 'blog:like_post' post.id %}" method="POST">
                  {% csrf_token %}
                  {% if isliked %}
                    <button type="submit", 
                            name="post_id", 
                            value="{{post.id}}", 
                            class="btn btn-danger btn-sm">Unlike</button> 
                  {% else %}        
                    <button type="submit", 
                            name="post_id", 
                            value="{{post.id}}", 
                            class="btn btn-primary btn-sm">Like</button>       
                  {% endif %}
                  - {{ totallikes }} Likes
                  </form>
                </div>
                {% for user in user_list %}
                  {% if user.id == post.author_id %}
                  <p class=" text-muted">{{ user.first_name }} {{ user.last_name }} | {{ post.created_on }}</p>
                  {% endif %}
                {% endfor %} 
                <p class="card-text ">{{ post.content | safe }}</p>
            </div>
            
        </div>
      </div>
      <div class="col">
      </div>
    </div> 
  </div>  
</div>


{% if user.is_authenticated %}
<div class="row mt-5">
<div class="col-lg-6 offset-lg-3">
<h3>Leave a comment</h3>
<div class="card-body">
<form method='POST'>
 <div class="form-group">
  {% csrf_token %}
  <div class="col-2">
  {{ form.as_p }}
  </div>
  <button class="btn btn-primary ml-2" type="submit">Reply</button>
 </div>
</form>
</div>
</div>
</div>
<br>
{% else %}
<div class="row mt-5">
<div class="col-lg-6 offset-lg-3">
<h5>You must <a href="{% url 'login' %}">Log In</a> to comment</h5>

</div>
</div>
{% endif %}  
{% if comments %}
<div class="row mt-5">
<div class="col-lg-6 offset-lg-3">
  Comment{{ comments.count|pluralize }}
  <span class="badge badge-dark ml-2">{{ comments.count }}</span>
</div>
{% for comment in comments %}
<div class="col-lg-6 offset-lg-3 mt-2">
  <div class="card p-2">
    <div class="row">
      <div class="col-12">
        
        <strong>{{ comment.user }}</strong> said
      </div>
      <div class="col-12">
        <p class="m-1 mt-3">{{ comment.content }}</p>
        <p class="text-right text-muted"><small>{{ comment.created }}</small></p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}