{%extends "base.html"%}
{% block title %}Login{% endblock %}
{% block content %}

<div>
    <div class="container">
        <div class="row">
          <div class="col">
          </div>
          <div class="col-8">
            <div class="card" style="width: 20rem;">
                <h1 style="text-align: center">Login</h1>
                <div class="card-body">
                    <form action="{% url 'users:login' %}" method="post" novalidate>
                        <div class="form-group">
                            {% csrf_token %}
                            
                                
                                  
                            
                            

                            
                            {% for field in form %}
                                <div class="fieldWrapper">
                                    <label>{{ field.label_tag }}</label>
                                    {{ field }}
                                    
                                        {{ field.errors }}
                                        {{ field.error_messages }}
                                    
                                </div>
                            {% endfor %}
                            </div>
                            <div style="text-align: center">    
                            <a href="{% url 'users:pword_reset' %}">Forgot Password?</a>
                            <br>
                            <button type="submit" value="submit">Login</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
              </div>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
</div>





{% endblock %}