{% extends 'base.html'%}
{% block title %}User Profile{% endblock %}
{% block content %}



<div>
    
  <div class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
          <div class="card" style="width: 45rem;">
            <div class="media">
              <img class="rounded-circle account-img" src="{{ p_user.image.url }}">
              <div class="card-body">
                <div class="row">
                <h2 class="card-title"><h2 class="account-heading">{{ userid.email }}</h2></h2>
                <form action="{% url 'users:follow' userid.id %}" method="POST">
                  {% csrf_token %}
                  {% if userid.id == user.id %}
                    
                  {% else %}
                    {% if isFollowing %}
                      <button type="submit", 
                              name="users.id", 
                              value="{{users.id}}", 
                              class="btn btn-danger btn-sm">Unfollow</button> 
                    {% else %}        
                      <button type="submit", 
                              name="users.id", 
                              value="{{users.id}}", 
                              class="btn btn-primary btn-sm">Follow</button>       
                    {% endif %}
                  {% endif %}  
                </form>  
                </div>  
                <h7  class="card-title"><p class="text-secondary">{{ userid.first_name }} {{ userid.last_name}}</p></h7>
                

                <div class="row">
                  &nbsp;&nbsp;&nbsp;
                  <b> Following : </b>
                  <p class="text-muted"> {{ totalfollowings }} </p>
                  
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  
                  <b> Followers : </b>
                  <p class="text-muted"> {{ totalfollowers }} </p>
                </div>
                <p class="card-text">{{ p_user.bio }}</p>
              </div>
            </div>
            <br>
           
            
            </div>  
          </div>
          <br>
           
        </div>
        <div class="col">
        </div>
        </div>  
    </div>
  <br>
  
</div>
<div>
    
  <div class="container">
    <div>
      <h2 style="text-align: center" >Thou User's Articles</h2>
    </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
          {% for post in post_list%}
            
            <div class="card" style="width: 33rem;">
              <img src="/media/{{post.title_image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                {% for user in user_list %}
                  {% if user.id == post.author_id %}
                    <h6 class="card-title">{{ user.first_name }} {{ user.last_name }}</h6>
                  {% endif %}
                {% endfor %}
                <p class="card-text">{{ post.content|slice:":50" }}</p>
                <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">Read More &rarr;</a>
              </div>
            </div>
            
          <br>
          {% endfor %}
        </div>
        <div class="col">
        </div>
        </div>  
    </div>
  <br>
  
</div>
{% endblock %}

